body {
  overflow: hidden;
}

.game-canvas {
  width: 100vw;
  height: 100vh;

  > canvas {
    outline: 0;
  }
}

.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  display: none;
}

.game-context-menu {
  width: max-content;
  background: #181818;
  color: #fff;
  cursor: default;
  user-select: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 6px;

  position: absolute;
  top: 560px;
  left: 950px;
}

.game-menu-head {
  background: #111111;
  padding: 20px;
}

.game-menu-title {
  font-weight: bold;
}

.game-menu-stats {
  margin: 16px 0 0 0;
}

.game-menu-items {
  display: flex;
  flex-direction: column;
}

.game-menu-item {
  padding: 12px 20px;

  &:hover {
    background: rgba(255,255,255,0.1);
  }
}

.game-main {
  cursor: none;
}

.game-cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index:999;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ny41MyA0Ny41MiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5FbGVtZW50IDE8L3RpdGxlPjxnIGlkPSJFYmVuZV8yIiBkYXRhLW5hbWU9IkViZW5lIDIiPjxnIGlkPSJFYmVuZV8xLTIiIGRhdGEtbmFtZT0iRWJlbmUgMSI+PHBhdGggZD0iTTE5LjM1LDQ3YS43OS43OSwwLDAsMS0uNzQtLjVMLjU2LDEuNkEuOC44LDAsMCwxLDEuMy41YS44MS44MSwwLDAsMSwuMy4wNkw0Ni41MywxOC42MmEuNzkuNzksMCwwLDEsLjExLDEuNEwzMC4wOSwzMC4wOSwyMCw0Ni42NGEuNzkuNzksMCwwLDEtLjY4LjM4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTEuMywxbC4xMSwwTDQ2LjM1LDE5LjA5YS4yOS4yOSwwLDAsMSwwLC41MUwyOS43OSwyOS42OGEuMzEuMzEsMCwwLDAtLjEuMUwxOS42MSw0Ni4zOGEuMjkuMjksMCwwLDEtLjUzLDBMMSwxLjQxQS4zLjMsMCwwLDEsMS4zLDFtMC0xQTEuMywxLjMsMCwwLDAsLjA5LDEuNzhMMTguMTUsNDYuNzFhMS4yOSwxLjI5LDAsMCwwLDIuMzEuMTlsMTAtMTYuNDQsMTYuNDYtMTBhMS4yOSwxLjI5LDAsMCwwLS4xOS0yLjI5TDEuNzguMDlBMS4zLDEuMywwLDAsMCwxLjMsMFoiLz48L2c+PC9nPjwvc3ZnPg==");
}